nav{
    display:flex;
    margin:10px
}

a{
flex: 1;
background-color: rgb(0, 82, 148);
color:rgb(255, 255, 255);



}
a:hover{

    background-color: rgb(255, 255, 255);
    color:rgb(0, 82, 148)
}
.header{
    text-decoration: rgb(47, 101, 101);
    size: 20px;
    
}